body,
html {
    height: 100%;
    background-color: #e7f3e9;
}
.login-wrapper {
    height: 100%;
}
.login-section {
    height: 100%;
}
.nav-link {
    color: #999;
    padding: 10px 0;
}
.nav-link:hover,
nav-link:active {
    left: 0;
    color: rgba(0, 0, 0, 0.6);
}
.login-form {
    background-color: rgba(255, 255, 255, 0.658);
    border-radius: 5px;
}
.btn-success {
    background-color: #219653;
    width: 100%;
    text-align: center;
}
