html{
    font-family: Rubik;
}
.basic-color{
    background-color:#35974A;
}
/* NAVBAR */
.navbar {
    height: 70px;
}
.navbar-font{
    color: #E7F3E9;
    font-weight: bold;
    font-size: 16px;
    font-style: normal;
    line-height: 19px;
    font-family: Rubik;
}
/* .dropdown-menu{
    color: #35974A !important;
    font-weight: bold !important;
    font-size: 16px !important;
    background-color: #E7F3E9 !important;
    font-family: Rubik !important;
} */
/* END NAVBAR */

/* JUMBOTRON */
.jumbotron{
    max-height: 640px;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    height: 635px;
    width: 100%;
    border-radius: 0% !important;
}
.jumbo-big{
    margin-top: 6rem;
    font-family: Rubik;
    color: #FFFFFF;
    font-weight: bolder;
    font-size: 42px;
    font-style: normal;
    line-height: 50px;
    max-width: 550px;
}
.jumbo-big-image{
    width: 120px;
}
.ktkls{
    display: inline-block;
    font-family: Rubik;
    padding: 10px 6px;
    background-color: #256A34;
    font-weight: bold !important;
    color: #E7F3E9 !important;
    font-size: 16px !important;
    border-radius: 15px;
}
.jumbo-small{
    margin-top: 2rem;
    font-family: Rubik;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 27px;
    color: rgba(255, 255, 255, 0.72);
    max-width: 550px;
}

.jumbo-button-1 {
    display: inline-block;
    margin: 4px 2px;
    font-weight: bold !important;
    color: #35974A !important;
    font-size: 20px !important;
    box-shadow: 3px 3px rgba(255, 255, 255, 0.425) !important;
}
.jumbo-button-2 {
    display: inline-block;
    margin: 4px 2px;
    font-weight: bold !important;
    color: #ffffff !important;
    font-size: 20px !important;
    box-shadow: 3px 3px rgba(255, 255, 255, 0.425) !important;
}
.jumbo-button-2:hover{
    color: #35974A !important;
    box-shadow: 3px 3px rgba(255, 255, 255, 0.856) !important;
}
/* END JUMBOTRON */

/* ABOUT */
.about-img{
    width: 100%;
    height: auto;
}
.about-big{
    color: #35974A;
    font-family: Rubik;
    font-style: normal;
    font-weight: bold;
    font-size: 32px;
    line-height: 38px;
}
.about-small{
    font-family: Rubik;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 25px;
    display: flex;
    align-items: center;
    color: rgba(0, 0, 0, 0.6);
}
.about-button-3 {
    display: inline-block;
    margin: 4px 2px;
    background-color: #35974A, 25%;
    font-weight: bold !important;
    color: #35974A !important;
    font-size: 20px !important;
    box-shadow: 5px 5px 0px 0px #FFFFFF 50% !important;
    border-color: #35974A !important;
    box-shadow: 3px 3px rgba(53, 151, 74, 0.753) !important;
}
.about-button-3:hover{
    background-color: #35974A !important;
    color: #E7F3E9 !important;
}
/* CATEGORY */
.category{
    background-color: #E7F3E9;
}
/* .card-img-overlay{
    background-color: #E7F3E9;
} */
.title-category{
    text-align: center;
    padding-top: 80px;
}
.category-title{
    font-family: Rubik;
    font-weight: bold;
    font-size: 28px;
    line-height: 33px;
    text-align: center;
}
.category-description{
    font-family: Rubik;
    font-size: 16px;
    line-height: 25px;
    text-align: center;
}
.card-category{
    margin: 10px 15px;
}
.category-content{
    position: absolute;
    top: 50%;
    left: 40%;
    transform: translate(-50%, -50%);
}
.card-title{
    font-family: Rubik;
    font-weight: bold;
    font-size: 32px;
    line-height: 38px;
    color: #FFFFFF;
}
.card-text{
    font-family: Rubik;
    font-size: 16px;
    line-height: 25px;
    align-items: center;
    color: #E7F3E9;
}

.category-img{
    max-width: 335px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
    background-color: #E7F3E9 !important;
    box-shadow: 3px 3px rgb(142, 211, 153) !important;
}
.category-img:hover{
    opacity: 0%;
}
/* CATEGORY END */
/* KEUNTUNGAN */
.judul-keuntungan{
    margin-top: 80px;
    text-align: center;
}
.img-keuntungan{
    max-width: 246px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
}
.keuntungan-judul{
    font-family: Rubik;
    font-weight: bold;
    font-size: 28px;
    line-height: 33px;
    text-align: center;
    color: #219653;
}
.deskripsi-keuntungan{
    font-family: Rubik;
    font-size: 16px;
    line-height: 25px;
    align-items: center;
    text-align: center;
}
.keuntungan-big{
    font-family: Rubik;
    font-weight: 500;
    font-size: 20px;
    line-height: 25px;
    text-align: center;
    color: #000000;
}
.keuntungan-small{
    font-family: Rubik;
    font-size: 16px;
    line-height: 25px;
    text-align: center;
    color: rgba(0, 0, 0, 0.6);
    margin: 0 5px;
}
/* KEUNTUNGAN END */
/* TESTIMONY */
.testi-title{
    font-family: Rubik;
    font-weight: bold;
    font-size: 28px;
    line-height: 33px;
    text-align: center;
    color: #219653;
}
.card-testi{
    background: #E7F3E9;
    border: 3px solid #35974A;
    box-sizing: border-box;
    box-shadow: 7px 7px 0px rgba(53, 151, 74, 0.25);
    border-radius: 5px;
    width: 275px;
    height: 265px;
}
.body-testi{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.testi-big{
    font-family: Rubik;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 25px;
    text-align: center;
    color: #219653;
}
.testi-small{
    font-family: Rubik;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 25px;
    text-align: center;
    color: rgba(0, 0, 0, 0.6);
}
.testi-img-round{
    border-radius: 100px;
    width: 65px;
    height: 65px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}
.btn-carousel{
    padding: 5px !important;
    background: #E7F3E9 !important;
    border-radius: 100px !important;
}
.align-btn{
    margin-bottom: auto;
    margin-top: auto;
}
/* TESTIMONY END */
/* FEEDBACK */
.feedback-box{
    background-color: #E7F3E9;
    border-radius: 5px;
}
.feedback-content{
    padding: 1.5rem;
}
.feed-big{
    font-family: Rubik;
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 25px;
    color: #000000;
}
.testi-button, .feed-button{
    display: inline-block;
    margin: 5px 3px;
    background-color: #E7F3E9, 100%;
    font-weight: bold !important;
    color: #E7F3E9 !important;
    font-size: 17px !important;
    box-shadow: 4px 4px 0px 0px #249b5877!important;
    border-color: #35974A !important;
}
.testi-button, .feed-button:hover{
    background-color: rgb(34, 116, 52);
}
.feed-button-no{
    display: inline-block;
    margin: 5px 3px;
    background-color: #E7F3E9;
    font-weight: bold !important;
    color: #35974A !important;
    font-size: 17px !important;
    box-shadow: 4px 4px 0px 0px #249b5877!important;
    border-color: #35974A !important;
}
.feed-button-no:hover{
    background-color: rgb(34, 116, 52) !important;
    color: #E7F3E9 !important;
}
.title-modal-feed{
    font-family: Rubik;
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 25px;
    text-align: center;
    color: #000000;
}
.label-feed{
    font-family: Rubik;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 24px;
    color: #000000;
}
.form-feed{
    box-shadow: 0px 0px 0px 3.2px rgba(0, 123, 255, 0.25);
    border-radius: 5px;
}
/* FEEDBACK END */
/* FOOTER */
.footer{
    background-color: #F6F6F8;
    padding-top: 45px;
    padding-bottom: 45px;
    font-family: Rubik;
}
.image-footer{
    max-width: 155px;
}
.ftr-tps{
    font-family: Rubik;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 25px;
    align-items: center;
    color: #999999;
}
.ftr-tipis{
    font-family: Rubik;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 25px;
    align-items: center;
    color: #999999;
    margin-top: 10px;
}
.ftr-biasa{
    font-family: Rubik;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 25px;
    display: flex;
    align-items: center;
    color: rgba(0, 0, 0, 0.6);
    margin-top: 10px;
}
.footer-end{
    background-color: #F2F2F2;
}
.ending{
    font-family: Rubik;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 25px;
    display: flex;
    color: #999999;
    padding: 7px 0;
}
/* FOOTER END */


@media  (min-width: 225px) and (max-width: 676px){
    /* NAVBAR */
    .bg-nav{
        background-color: #35974A;
        padding: 6px 0px 10px 0px;
        padding-left: 10px !important;
    }
    .navbar-font{
        color: #E7F3E9;
        font-size: 14px;
        font-style: normal;
        line-height: 19px;
        font-family: Rubik;
    }
    /* NAVBAR END */
    /* JUMBOTRON */
    .jumbotron{
        right: 10rem;
        width: 100%;
        height: 600px;
    }
    .jumbo-big{
        font-size: 20px;
        font-style: normal;
        line-height: 25px;
        max-width: 300px;
        margin-top: 5.5rem;
    }
    /* .jumbo-small{
        font-size: 15px;
        line-height: 16px;
        color: rgba(255, 255, 255, 0.72);
        max-width: 400px;
    }*/
    .jumbo-big-image{
        width: 60px;
    }
    .jumbo-button-1 {
        display: inline-block;
        margin: 4px 2px;
        font-weight: bold !important;
        color: #35974A !important;
        font-size: 17px !important;
        box-shadow: 5px 5px 0px 0px #FFFFFF 50% !important;
    }
    .jumbo-button-2 {
        display: inline-block;
        margin: 4px 2px;
        font-weight: bold !important;
        color: #ffffff !important;
        font-size: 17px !important;
        box-shadow: 5px 5px 0px 0px #FFFFFF 50% !important;
    }
    /* JUMBOTRON END */

    /* ABOUT */
    .about-big, .about-small{
        margin-left: 10px;
        text-align: justify;
    }
    .jumbo-button-3{
        text-align: center;
    }
    .card-category{
        margin: 10px 60px;
    }
    /* ABOUT END */
    /* KATEGORI */
    .card-title{
        font-family: Rubik;
        font-weight: bold;
        font-size: 18px;
        line-height: 28px;
        color: #FFFFFF;
    }
    .card-text{
        font-family: Rubik;
        font-size: 10px;
        line-height: 15px;
        align-items: center;
        color: #E7F3E9;
    }
    /* KATEGORI END */
    /* TESTIMONY */
    .feed-big{
        font-family: Rubik;
        font-style: normal;
        font-weight: 500;
        font-size: 15px;
        line-height: 25px;
    }
    .testi-button{
        display: inline-block;
        font-size: 14px !important;
    }
    /* TESTIMONY END */
}
@media  (min-width: 377px) and (max-width: 985px){
    .bg-nav{
        background-color: #35974A;
        padding: 6px 0px 10px 0px;
        padding-left: 10px !important;
    }
    .navbar-font{
        color: #E7F3E9;
        font-size: 14px;
        font-style: normal;
        line-height: 19px;
        font-family: Rubik;
    }
        /* KATEGORI */
        .card-title{
            font-family: Rubik;
            font-weight: bold;
            font-size: 17px;
            line-height: 28px;
            color: #FFFFFF;
        }
        .card-text{
            font-family: Rubik;
            font-size: 10px;
            line-height: 15px;
            align-items: center;
            color: #E7F3E9;
        }
        /* KATEGORI END */
}